body.fullscreen canvas {
    width: 100vw;
    height: 100vh;
    object-fit: contain;
    background-color: black;
}

body.fullscreen {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

body.fullscreen h1 {
    display: none;
}

canvas{
    background-color: black;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    display: block;
    margin: 0 auto;
}

@media only screen and (max-width:720px) {
    canvas {
        width: 100%;
    }
    body{
        padding: 0;
        width: 100%;
    }
    .header_h1{
        display: none;
    }
    .menu-button{
        bottom: 285px;
        position: sticky;
    }
}

@media only screen and (max-height: 480px) {
    canvas {
        height: 100vh;
    }
    body{
        height: 100vh;
    }
    .menu-buttons{
        bottom: 285px;
    }
}