#settings-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: none; /* Standardmäßig versteckt */
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

#settings-overlay.show {
    display: flex;
}

.settings-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    width: 400px;
    max-width: 90%;
}

.settings-container h2 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 24px;
}

.setting {
    margin-bottom: 20px;
}

.setting label {
    display: block;
    margin-bottom: 8px;
    font-size: 16px;
}

.setting input[type="range"] {
    width: 100%;
}

.setting-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.setting-buttons button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

.setting-buttons button:hover {
    background-color: #45a049;
}

#exit-game {
    background-color: #f44336;
}

#exit-game:hover {
    background-color: #d32f2f;
}