* {
    box-sizing: border-box;
    margin: 0;
    scroll-behavior: smooth;
    font-size: 12px;
    font-family: 'SpecialGothicCondensedOne-Regular', sans-serif;
}

a {
    text-decoration: none;
}
button{
    cursor: pointer;
}

.d-none{
    display: none;
}