* {
    box-sizing: border-box;
    margin: 0;
    scroll-behavior: smooth;
    font-size: 12px;
    font-family: 'SpecialGothicCondensedOne-Regular', sans-serif;
}

a {
    text-decoration: none;
}
button{
    cursor: pointer;
}

.d-none{
    display: none;
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f5f5f5;
}